<div class='callout-red shadow-sm mb-4'>
    <div class='row'>
        <div class='col-lg-6'>
            <p><strong>Matrícula</strong></p>
            <p><strong>Tipo</strong></p>
            <p><strong>Bairro</strong></p>
            <p><strong>Logradouro</strong></p>
        </div>
        <div class='col-lg-6'>
            <p><strong>Número</strong></p>
            <p><strong>Compl</strong></p>
            <p><strong>Planta</strong></p>
            <p><strong>&nbsp;</strong></p>
        </div>
    </div>
</div>

<p class='text-left'>
    <a href='#pesquisa' data-toggle='modal'>
        <button class='btn btn-danger' type='button'>Fechar</button>
    </a>
</p>
